{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if activelistings %}
        {% for activelisting in activelistings %}
        <a class="link" href="{% url 'listing' activelisting.id %}">
            <div class="listing">
                <div class="image-container">
                    <img class="listing-image" src="{{activelisting.image.url}}">
                </div>
                <div class="listing-info">
                    <h4>{{activelisting.title}}</h4>
                    <p>{{activelisting.description}}</p>
                    <p>Starting Bid: ${{activelisting.get_starting_bid}}</p>
                    <p>Current Price: {{activelisting.get_current_price}}</p>
                    <p>Date Posted: {{activelisting.get_date}}</p>
                    <p>Listed by: {{activelisting.user_id.username}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    {% else %}
        <h3>No Active Listings</h3>
    {% endif %}
{% endblock %}