{% extends "auctions/layout.html" %}

{% block body %}

<div class="heading">
    <h3>Listing: {{listing.title}}</h3>
    {% if user.is_authenticated %}
    <!--Watchlist-->
    <div class="watchlist-btn">
        <form action="{% url 'addtowatch' listing.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="watchlist">{{value}} Watchlist</button>
        </form>
    </div>
    {% endif %}
</div>

<div class="full-img">
    <img class="listing-image" src="{{listing.image.url}}">
</div>

<div class="description">
    <p><strong>Description:</strong> {{listing.description}}</p>
    <p><strong>Listed by:</strong> {{listing.user_id.username}}</p>
    <p><strong>Date posted:</strong> {{listing.get_date}}</p>
    <p><strong>Category:</strong> {{listing.category}}</p>
    <p><strong>Starting bid:</strong> {{listing.startingbid}}</p>
    <p><strong>Current price:</strong> {{listing.get_current_price}}</p>
</div>
{% if user.is_authenticated %}
<!--if the signed in user does not own this listing and is active-->

{% if listing.user_id != user and listing.isitactive == True %}
<form action="{% url 'bid' listing.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group" id="bidform">
        {{bidform}}
    </div>
    <input class="btn btn-primary" type="submit" value="Bid">
</form>


{% if messages %}
{% for message in messages %}
{% if 'error' in message.tags %}
<div class="alert alert-danger" id="message">{{ message }}</div>
{% else %}
<div class="alert alert-success" id="message">{{ message }}</div>
{% endif %}
{% endfor %}
{% endif %}

<!--if the signed in user does own this listing and is active-->
{% elif listing.user_id == user and listing.isitactive == True %}
<form action="{% url 'close' listing.id %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" name="close">Close listing</button>
</form>


<!--if the signed in user does not own this listing and is inactive-->
{% elif listing.user_id != user and listing.isitactive == False %}
<div class="alert alert-primary">{{flag}}</div>
<!--if the signed in user does own this listing and is inactive-->
{% elif listing.user_id == user and listing.isitactive == False %}

<div class="alert alert-primary">You closed this listing.</div>
{% endif %}
{% endif %}

<p class="titleofsection"><strong>Bids on this listing:</strong></p>
<div class="bidlist">
    <ul>
        {% if listing.this_listing_bids.all %}
        {% for bid in listing.this_listing_bids.all reversed %}
        <li>${{bid.bidamount|floatformat:2}} bid by {{bid.user_id.username}}</li>
        {% endfor %}
        {% else %}
        <li>No bids yet.</li>
        {% endif %}
    </ul>
</div>

<!--Comment-->
{% if user.is_authenticated %}
<form action="{% url 'comment' listing.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group" id="locatecomment">
        {{commentform}}
    </div>
    <input type="submit" class="btn btn-primary">
</form>

{% endif %}

<!--
{% if listing.isitactive == False %}
<p>This listing is closed.</p>
{% endif %}
-->


{% if user.is_authenticated == False %}
<a href="{% url 'login' %}">Please log in to bid/comment on this listing.</a>
{% endif %}
<!--Comment list-->

<p class="titleofsection"><strong>Comment Section:</strong></p>
<div class="comment-section">
{% if allcomments %}

    {% for comment in allcomments %}
    <div class='comment'>
    <strong>{{comment.user_id.username}}</strong>
    <br>
    {{comment.get_date}}
    <br>
    {{comment.comment}}
    <br>
    <br>
    </div>
    {% endfor %}

    {% else %}
    <div class='comment'>
        No comments
    </div>
{% endif %}

</div>
{% endblock %}